
.container_portfolio{
    background-color: var(--bg-primary);
    padding: var(--padding-height) 0;
    display: grid;
    gap: calc(var(--space-size) * 2.5);
    color: var(--light-color);
    & .letter_portfolio{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h2{
            text-align: center;
            color: var(--light-color);
            position: absolute;
            letter-spacing: calc(var(--space-size) / 8);
            font-size: calc(var(--font-size) * 2.5);
        }
        & h4{
            text-align: center;
            color: var(--secondary-color);
            -webkit-text-stroke: 1px var(--bg-secondary-transp);
            font-size: calc(var(--font-size) * 6.25);
        }
    }
    & .conta_portfolio{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: calc(var(--space-size) * 2.5);
        max-width: 1800px;
        margin: auto;
        & .portfolio{
            width: 420px;
            border: calc(var(--padding) / 4) solid var(--bg-dark);
            margin: 0 calc(var(--space-size) / 1.6);
            & img{
                width: 100%;
                filter: grayscale(1);
                transition: var(--transition);
                &:hover{filter: grayscale(0);}
            }
        }
    }
}


@media(max-width:1400px){
    .container_portfolio{
        & .conta_portfolio{
            & .portfolio{width: 500px;}
        }
    }
}

@media(max-width:1080px){
    .container_portfolio{
        & .conta_portfolio{
            & .portfolio{width: 650px;}
        }
    }
}

@media(max-width:650px){
    .container_portfolio{
        padding: calc(var(--padding) * 2.5) 0 calc(var(--padding) * 0.25) 0;
        gap: 0;
        & .letter_portfolio{
            overflow: hidden;
            & h2{
                font-size: calc(var(--font-size) * 1.5);
            }
            & h4{
                font-size: calc(var(--font-size) * 3.5);
            }
        }
        & .conta_portfolio{
            gap: calc(var(--space-size) * 1.25);
            padding: calc(var(--padding) * 2.5) 0;
            & .portfolio{width: 90%;}
        }
    }
}