
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-primary);
    & .logo{
        display: flex;
        justify-content: center;
        & h2{
            letter-spacing: calc(var(--space-size) * 0.125);
            color: var(--light-color);
            font-size: calc(var(--font-size) * 1.45);
            text-shadow: 0 0 calc(var(--font-size) * 0.625) var(--primary-color), 
                         0 0 calc(var(--font-size) * 0.625) var(--primary-color),
                         0 0 calc(var(--font-size) * 0.625) var(--primary-color);
        }
    }
    
    & .lista-bar, .cerrar{
        display: none;
    }

    & .navbar{
        display: flex;
        justify-content: center;
        & a{
            text-decoration: none;
            color: var(--light-color);
            padding: calc(var(--space-size) * 2) calc(var(--space-size) * 1.25);
            transition: var(--transition);
            letter-spacing: calc(var(--space-size) / 16);
            &:hover{
                background-color: var(--bg-tertiary);
            }
        }
    }
    & .social-media{
        width: 200px;
        display: flex;
        justify-content: space-between;
        gap: calc(var(--space-size) * 1.25);
        list-style: none;
        & li{
            & a{
                text-decoration: none;
                color: var(--light-color);
                font-size: calc(var(--font-size) * 0.875);
            }
        }
    }
}

@media(max-width:1200px){
    header{
        justify-content: space-between;
        padding: calc(var(--space-size) * 2);
        & .navbar{
            display: none;
            position: relative;
            left: -120%;
            transition: var(--transition);
            display: flex;
            flex-direction: column;
        }

        & .social-media{
            display: none;
        }
        #lista-barid{
            display: block;
            float: right;
            font-size: calc(var(--font-size) * 1.5625);
            color: white;
        }

        .cerrar{
            display: block;
            color: white;
            padding: 20px;
            text-align: right;
        }

        .lista-open{
            left: 0;
        }

        #listaid{
            background-color: var(--bg-primary);
            position: absolute;
            top: 0;
            width: 100%;
        }
         
    }    
}

@media(max-width:650px){
    header{
        padding: calc(var(--space-size) * 1.5);
        & .logo{
            & h2{
                font-size: calc(var(--font-size) * 0.875);
            }
        }
        & .navbar{
            & a{
                font-size: 13px;
                padding: calc(var(--space-size) * 1.5);
            }
        }

        #lista-barid{
            font-size: calc(var(--font-size) * 0.975);
        }
    }
}