
.container_about{
    background-color: var(--bg-primary);
    padding: var(--padding-height) 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1800px;
    margin: auto;
    & .img_about{
        width: 350px;
        border: calc(var(--padding) * 0.5) solid var(--bg-dark-transp);
        & img{
            width: 100%;
            object-fit: cover;
        }
    }
    & .content_about{
        width: 550px;
        display: grid;
        gap: calc(var(--space-size) * 2.5);
        color: var(--light-color);
        & h2{
            font-size: calc(var(--font-size) * 2.25);
        }
        & p{
            line-height: calc(var(--space-size) * 2.25);
            text-align: justify;
        }
        & a{
            background-color: var(--bg-light);
            color: var(--dark-color);
            text-decoration: none;
            text-align: center;
            width: 200px;
            padding: calc(var(--padding) / 1.6);
            border-radius: var(--border-radius_xl);
            transition: var(--transition);
            &:hover{
                background-color: var(--primary-color);
                color: var(--light-color);
            }
        }
    }
}

/* skills */

.container_skills{
    background-color: var(--bg-secondary);
    padding: var(--padding-height) 0;

    & .letter_skills{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h2{
            text-align: center;
            color: var(--light-color);
            position: absolute;
            letter-spacing: calc(var(--space-size) / 8);
            font-size: calc(var(--font-size) * 2.5);
        }
        & h4{
            text-align: center;
            color: var(--tertiary-color);
            -webkit-text-stroke: 1px var(--bg-primary-transp);
            font-size: calc(var(--font-size) * 6.25);
        }
    }
    & .conta-skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: calc(var(--space-size) * 2.5) 0;
        margin: auto;
        max-width: 1800px;
        &  .skills{
            width: 450px;
            background-color: var(--bg-primary);
            margin: calc(var(--space-size) * 2.5) calc(var(--space-size) / 1.6);
            padding: calc(var(--padding) * 3.5) calc(var(--padding) * 4.5);
            display: grid;
            gap: calc(var(--space-size) * 1.75);
            text-align: center;
            color: var(--light-color);
            transition: var(--transition);
            &:hover{
                background-color: var(--bg-tertiary);
                color: var(--dark-color);
                box-shadow: calc(var(--space-size) / 8) calc(var(--space-size) / 8) calc(var(--space-size) * 1.25) var(--bg-dark-transp), 
                            calc(var(--space-size) / 8) calc(var(--space-size) / 8) calc(var(--space-size) * 1.25) var(--bg-dark-transp), 
                            calc(var(--space-size) / 8) calc(var(--space-size) / 8) calc(var(--space-size) * 1.25) var(--bg-dark-transp);
            }
            &:hover i{
                background: var(--bg-light);
                color: var(--secondary-color);
                transition: var(--transition) all;
                transform: rotate(-360deg);
            }
            & i{
                background-color: var(--bg-dark-transp);
                border-radius: 50%;
                padding: calc(var(--space-size) * 1.5);
                display: flex;
                margin: auto;
                transform: rotate(0);
                transition: var(--transition);
            }
            & hr{
                width: 50%;
                margin: auto;
            }
            & .sub_skills{
                & ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;
                }
            }
            & p{
                line-height: calc(var(--space-size) * 1.5625);
            }
        }
    }
}

@media(max-width:1050px){
    .container_about{
        flex-direction: column;
        gap: calc(var(--space-size) * 2.5);
        & .content_about{
            text-align: center;
            & a{
                width: 100%;
            }
        }
    }
}

@media(max-width:940px){
    .container_skills{
        & .conta-skills{
            &  .skills{
                width: 80%;
                padding: var(--padding-height);
            }
        }
    }
}

@media(max-width:650px){
    .container_about{
        padding: calc(var(--padding) * 1.5);
        & .img_about{
            padding: 0;
            max-width: 100%;
        }
        & .content_about{
            width: 100%;
            & h2{
                font-size: calc(var(--font-size) * 1.5);
            }
            & p{
                font-size: calc(var(--font-size) * 0.875);
                line-height: calc(var(--space-size) * 1.75);
            }
        }
    }

    .container_skills{
        padding: calc(var(--padding) * 2.5) calc(var(--padding) * 0.75) calc(var(--padding) * 0.25) calc(var(--padding) * 0.75);
        & .letter_skills{
            overflow: hidden;
            & h2{
                font-size: calc(var(--font-size) * 1.5);
            }
            & h4{
                font-size: calc(var(--font-size) * 3.5);
            }
        }
        & .conta-skills{
            gap: calc(var(--space-size) * 1.25);
            padding: calc(var(--padding) * 2.5) 0;
            &  .skills{
                width: 100%;
                margin: 0;
                gap: calc(var(--space-size) * 1.75);
                padding: calc(var(--padding) * 2.5);
                & h3{
                    font-size: var(--font-size);
                }
                & hr{
                    width: 80%;
                }
                & .sub_skills{
                    & ul{
                        justify-content: space-around;
                        font-size: calc(var(--font-size) * 0.875);
                    }
                }
                & p{
                    font-size: calc(var(--font-size) * 0.875);
                    line-height: calc(var(--space-size) * 1.75);
                }
            }
        }
    }
}